.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
